html {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    position: fixed;
    color: #E5E7EB;
    align-self: center;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    font-size: 18px;
}

.logo_img {
    width: 100px;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

.header-main {
    margin-top: 65px;
    width: 65%;
    display: flex;
    align-self: center;
}

.header-left {
    flex: 0 1 0%;
}

.header-left h2 {
    font-size: 48px;
    color: #f9faf9;
}

.header-left p {
    font-size: 18px;
    color: #E5E7EB;
}

.header-right {
    flex: 0 1 0%;
}

.main-image {
    object-fit: fill;
}

.header,
.main-one,
.main-two,
.foot {
    flex-grow: 1;
}

.header,
.nav,
.footer-two {
    background-color: #1F2937;
}

.main-one,
.footer-one {
    background-color: #FFFFFF;
}

.main-two {
    background-color: #E5E7EB;
}
