html {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    position: fixed;
    color: #E5E7EB;
    justify-content: space-around;
    width: 100%;
}

.logo_img {
    width: 100px;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header,
.main-one,
.main-two,
.foot {
    flex-grow: 1;
}

.header,
.footer-two {
    background-color: #1F2937;
}

.main-one,
.footer-one {
    background-color: #FFFFFF;
}

.main-two {
    background-color: #E5E7EB;
}
